[submodule "aml-keras-image-recognition"]
	path = aml-keras-image-recognition
	url = https://github.com/fujikosu/aml-keras-image-recognition.git
[submodule "evaluation/word2vec_train_parameter_sweeping"]
	path = evaluation/word2vec_train_parameter_sweeping
	url = https://github.com/fujikosu/word2vec_train_parameter_sweeping.git
